.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#000000;
    padding: 1rem 2rem; /* Add some padding */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
}

.logo {
    display: flex;
    align-items: center;
    flex: 1; 
}

.logo h2 {
    margin: 0; 
    font-size: 1.5rem; 
    color: #ffffff; 
}

.searchbar {
    flex: 1; 
    display: flex;
    justify-content: flex-start; 
}

.Navbar {
    display: flex;
    flex: 1; 
    justify-content: flex-end; 
}