
.outerloading{ 
    text-align:"center";
    padding: "20px"
 }

/* .innerLoading{{
    width: size,
    height: size,
    border: `4px solid lightgray`,
    borderTop: `4px solid ${color}`,
    borderRadius: "50%",
    animation: "spin 1s linear infinite",
  } */

