footer {
    background-color: black;
    color: #fff; 
    text-align: center; 
    width: 100%;
}

.footerblog {
    
    margin: 0 auto; 
    padding: 0 20px; 
    margin-top: auto; 
    padding: 20px 0;
}

.footerblog p {
    margin: 0 0 10px; 
    font-size: 14px; 
    line-height: 1.5; 
}

.footer-ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    justify-content: center; 
    gap: 15px; 
}

.footer-ul li {
    display: inline; 
}

.footer-ul li a {
    color: #fff; 
    text-decoration: none;
    font-size: 16px; 
    transition: color 0.3s ease; 
}

.footer-ul li a:hover {
    color: #00aced; 
}
